<div class="container">
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit(credentialsForm)">
      <label>Email</label>
      <input type="text" formControlName="email">

      <label>Password</label>
      <input type="password" formControlName="password">

      <div class="scoreIndicatorContainer">
      	<div class="scoreIndicator" [ngClass]="{'red': passwordStrengthScore === 2, 'yellow': passwordStrengthScore === 3, 'green': passwordStrengthScore > 3}"></div>
      	<div class="scoreIndicatorMiddle" [ngClass]="{'yellow': passwordStrengthScore === 3, 'green': passwordStrengthScore > 3}"></div>
      	<div class="scoreIndicator" [ngClass]="{'green': passwordStrengthScore > 3}"></div>
      </div>

      <p>Strength: {{passwordStrength}}</p>

      <button type="submit" [disabled]="!credentialsForm.valid">Submit</button>

    </form>
</div>
