.scoreIndicatorContainer {
  height: 5px;
  width: 500px;
}

.scoreIndicator {
  height: 5px;
  width: 100px;
  background-color: grey;
  float: left;
  margin: 1px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
